<div class="row">
  <%= form_for @playlist do |f| %>
  <div class="panel-container">
    <div class="panel-content">

      <div class="row collapse">
        <!-- name -->
        <div class="columns small-12 medium-3">
          <%= label_tag :name, 'Name', class: 'prefix' %>
        </div>
        <div class="columns small-12 medium-9">
          <%= text_field_tag 'playlist[name]', @playlist.name, required: true %>
        </div>
      </div>

      <div class="row collapse">
        <!-- token -->
        <div class="columns small-12 medium-3">
          <%= label_tag :token, 'Token', class: 'prefix' %>
        </div>
        <div class="columns small-12 medium-8">
          <%= text_field_tag 'playlist[token]', @playlist.token, required: true, readonly: true %>
        </div>
        <div class="columns small-12 medium-1">
          <%= text_field_tag :refresh, 'Refresh', class: 'button small postfix', type: :button, onclick: 'refreshToken("playlist_token");' %>
        </div>
      </div>

      <div class="row collapse">
        <div class="columns small-12 medium-6">
          <ul class="button-group radius">
            <li><%= link_to 'Cancel', playlists_path, class: 'button secondary small' %></li>
            <li><%= text_field_tag nil, 'Update', type: :submit, class: 'button success small' %></li>
          </ul>
        <div/>
      <div/>

      <div class="row collapse">
        <%= render 'shared/tracks' %>
      </div>

      <div class="row collapse">
        <div class="columns small-12 medium-6">
          <ul class="button-group radius">
            <li><%= link_to 'Cancel', playlists_path, class: 'button secondary small' %></li>
            <li><%= text_field_tag nil, 'Update', type: :submit, class: 'button success small' %></li>
          </ul>
        <div/>
      <div/>

    </div>
  </div>
  <% end %>
</div>
