<div class="row">
  <table role="grid">
    <thead>
      <tr>
        <th width="200">Name</th>
        <th width="200">Number of tracks</th>
        <th width="200"></th>
      </tr>
    </thead>
    <tbody>
      <% @playlists.each do |playlist| %>
        <tr>
          <td><%= playlist.name %></td>
          <td><%= playlist.tracks.count %></td>
          <td>
            <span><a href="<%= edit_playlist_path(playlist.id) %>" class="button tiny info radius">Edit</a></span>
            <span><%= button_to 'Delete', playlist, method: :delete, class: 'button tiny alert radius' %></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <a href="<%= new_playlist_path %>" class="button secondary small radius">+</a>
</div>
