<nav class="row" role="navigation">
  <div class="title-area left">
    <h1>Shiva</h1>
  </div>
  <!-- Right Nav Section -->
  <div class="right">
    <br />
    <% if current_user %>
      <% current_user.reload %>
      <div class="avatar">
        <a data-dropdown="dropdownMenu" href="#" class="has-dropdown">
          <%= image_tag current_user.avatar, width: '16', alt: '' %>
          <span class="hide-for-small-only"><%= ' ' + current_user.name %></span>
        </a>
      </div>
    <% else %>
      <!-- Use smooth scrolling only when on the same page -->
      <% if request.original_fullpath != new_user_session_path %>
        <div class="right">
          <%= link_to 'Log in', new_user_session_path, class:'login button small radius', data: { 'target': 'login' } %>
        </div>
      <% end %>
    <% end %>
  </div>
  <br />
  <br />
  <br />
  <% if current_user %>
  <div>
    <ul class="button-group radius">
      <% case request.original_fullpath %>
      <% when tracks_path %>
      <li><a class="button tiny secondary" href="<%= playlists_path %>">Playlists</a></li>
      <% when playlists_path %>
      <li><a class="button tiny secondary" href="<%= tracks_path %>">Tracks</a></li>
      <% else %>
      <li><a class="button tiny secondary" href="<%= tracks_path %>">Tracks</a></li>
      <li><a class="button tiny secondary" href="<%= playlists_path %>">Playlists</a></li>
      <% end %>
    </ul>
  </div>
  <% end %>
</nav>
<div class="row dropdown-menu-container">
  <ul id="dropdownMenu" data-dropdown-content class="f-dropdown" aria-hidden="true">
    <!-- logout -->
    <li>
      <%= link_to destroy_user_session_path, method: :delete, id: 'logout' do %>
      <i class="icon-settings-power"></i>
      Logout
      <% end %>
    </li>
  </ul>
</div>
