<!DOCTYPE html>
<html>
<head>
  <title>Shiva</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/43085/PredicsisIcons/style.css">
  <%= csrf_meta_tags %>
</head>
<body class="antialiased">

<header>
  <%= render 'layouts/topbar' %>
</header>

<%= yield %>

<footer>
  <div class="row collapse">
    <%= link_to 'Shiva', 'https://github.com/mdouchement/shiva' %>
  </div>
</footer>

</body>
</html>
